<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shourtcut icon" type="image/x-icon" href="images/logo.ico"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>API</title>
</head>
<body>
Visit <a href="api/quote/random">/api/quote/random</a> to get random quote.
<br></br>
Visit <a href="api/quote/en">/api/quote/en</a> to get random quote in English.
<br></br>
Visit <a href="api/quote/ru">/api/quote/ru</a> to get random quote in Russian.
<br></br>
Quotes encoded in JSON,  {person : 'person', text : 'text'}
</body>
</html>