<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:th="http://www.thymeleaf.org">

<head>
<script src="https://use.typekit.net/ozn3gco.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){console.log(e);}</script>

<link rel="shourtcut icon" type="image/x-icon" th:href="@{/images/logo.ico}"/>
<link rel="stylesheet" type="text/css" th:href="@{/stylesheet.css}" 
	href="file:///home/asdf/Java/webapp/src/main/webapp/stylesheet.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Profile</title>
</head>
<body>

	<div class="container">
			<div class="header font">
				<div class="linkDiv left">
					<a  href="#" th:href="'/'">Main</a>
				</div>
				
				<div class="linkDiv right">
					<a th:href="'/logout'">Logout</a>
				</div>
				
			</div>
			
			<div class="content">
			<div class="bodyDiv font">				
				
				<span style="display: table-row;">Quotes posted by you:</span>
				
				<div class="quotesList">
				<a style="display:block" href="#" th:href="@{'/quotes/id/' + ${quote.id}}"
				 th:each="quote : ${quotes}" class="quoteContainer">
					
					<div class="quoteDiv" th:text="${quote.text}" th:classappend="${quote.getLang().value()=='Russian' ? 'quoteRus':'quoteEng'}">
						This is quote textThis is quote textThis is quote text gfdg gfdgdfgsssssssss
					</div>
				
					<div class="autorDiv" th:classappend="${quote.getLang().value()=='Russian' ? 'rus':'eng'}" th:text="'&mdash; ' + ${quote.person}">-this is Autor</div>
					
				</a>
				
				<h4 th:if="${quotes.isEmpty()}">Nothing here</h4>
				
				</div>
				
				
				<span>Post a new quote:</span>
				
				<form th:action="@{/quotes/new}" th:object="${xmlQuote}" method="post">
					<table class="table">
					<col width="40px"/>
					<col width="50px"/>
					<col width="200px"/>
						<tr>
							<td><span>Text:</span></td>
							<td colspan="2"><textarea  name="text" style="width:700px;height:80px;resize:none;" th:field="*{text}"></textarea></td>
						</tr>
				
						<tr>
							<td colspan="3"><div th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="fieldError">Username must be 5 to 20 characters long, only digits, letters(Latin only) and underscore permitted.</div></td>
						</tr>
						
						<tr>
							<td><span>Person:</span></td>
							<td><input type="text" name="person" th:field="*{person}" size="15" /></td>
							<td>
								<span style="margin:0 0 0 0;">Language: English<input type="radio" name="lang" value="ENGLISH" checked="checked"/>Russian<input type="radio" name="lang" value="RUSSIAN"/></span>
							</td>
						</tr>
						
						<tr>
							<td colspan="3"><div th:if="${#fields.hasErrors('person')}" th:errors="*{person}" class="fieldError">Password must be 5 to 20 characters long, only digits and letters permitted.</div></td>
						</tr>
						
						<tr>
							<td><input type="submit" value="Submit" style="font-family: cabazon; font-size: 1em;"/></td>
						</tr>
					</table>
				</form>
				
				<span>or upload a file:</span> 
								 
				<form th:action="@{/quotes/xml}" enctype="multipart/form-data" method="post">
					<table class="table">
				
						<tr>
							<td><span>File:</span></td>
							<td><input type="file" accept="application/xml" name="file" style="font-family: cabazon; font-size: 1em;"/></td>
							<td><input type="submit" value="Submit" style="font-family: cabazon; font-size: 1em;"/></td>
						</tr>
						
					</table>
				</form>
				
				<a href="/download/quote_template" target="_blank" style="font-size: 1.3em;">Download template</a>
				
			</div>	
			</div>
			
			<div class="footer font">
				
			</div>
	</div>
</body>
</html>