<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<script src="https://use.typekit.net/ozn3gco.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){console.log(e);}</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="/home/asdf/Java/webapp/src/main/webapp/script.js" th:src="@{/script.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Register</title>

<link rel="shourtcut icon" type="image/x-icon" th:href="@{/images/logo.ico}"/>
<link rel="stylesheet" type="text/css" th:href="@{/stylesheet.css}"
	 href="file:///home/asdf/Java/webapp/src/main/webapp/stylesheet.css"/>
	 
</head>
<body>

	<div class="container">
			<div class="header font">
				<div class="linkDiv middle">
					<a th:href="'/'">Main</a>
				</div>
			</div>
			
			<div class="content">
			<div class="bodyDiv font">				
				
				<div class="titleBlock">
					<div class="emphasizedText">Registration</div>
				</div>
				
				<div>
					<form th:action="@{/register}" th:object="${userRegistration}" method="post">
					<table class="table">
					<col width="100px"/>
					<col width="250px"/>
					<col width="30px"/>
						<tr>
							<td><span>Username:</span></td>
							<td><input type="text" name="username" align="right" th:field="*{username}" id="username"/></td>
							<td><img class="validImg" th:src="@{'/images/' + ${#fields.hasErrors('username') ? 'cross.png' : 'check.png'}}" src="/home/asdf/Java/webapp/src/main/webapp/images/check.png" id="username_icon"/></td>
						</tr>
				
						<tr>
							<td colspan="3"><div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError" id="username_error">Username must be 5 to 20 characters long, only digits, letters(Latin only) and underscore permitted.</div></td>
						</tr>
						
						<tr>
							<td><span>Password:</span></td>													
							<td><input type="password" name="passwd" th:value="*{passwd}" id="passwd"/></td>
							<td><img class="validImg" th:src="@{'/images/' + ${#fields.hasErrors('passwd') ? 'cross.png' : 'check.png'}}" src="/home/asdf/Java/webapp/src/main/webapp/images/check.png" id="passwd_icon"/></td>
						</tr>
								
						<tr>
							<td colspan="3"><div th:if="${#fields.hasErrors('passwd')}" th:errors="*{passwd}" class="fieldError" id="passwd_error">Password must be 5 to 20 characters long, only digits and letters permitted.</div></td>
						</tr>
						
						<tr>
							<td><span>Confirm password:</span></td>
							<td><input type="password" name="confirmPasswd" th:value="*{confirmPasswd}" id="confirm"/></td>
							<td><img class="validImg" th:src="@{'/images/' + ${#fields.hasErrors('passwordsMatch') ? 'cross.png' : 'check.png'}}" src="/home/asdf/Java/webapp/src/main/webapp/images/check.png" id="confirm_icon"/></td>
						</tr>
						
						<tr>
							<td colspan="3" id="confirm_error_parrent"><div th:if="${#fields.hasErrors('passwordsMatch')}" th:errors="*{passwordsMatch}" class="fieldError" id="confirm_error">Passwords don't match.</div></td>
						</tr>
						
						<tr>
							<td><input type="submit" value="Register" style="font-family: cabazon; font-size: 1em;"/></td>
						</tr>
					</table>
					</form>
				</div>
				
			</div>	
			</div>
			
			<div class="footer font"/>

			</div>
	</div>
</body>
</html>