@CHARSET "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    background:url('./images/background.jpg');
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

a:active {
    text-decoration: none;
}

li {
    text-align: left;
    padding: 0px;
    margin-left: 100px;
}

.container{
    overflow-y: hidden;
    width: 1030px;
    margin: 20px auto;
}

.header{
    height:196px;
    padding: 0 0;
    margin: 0 0;
    z-index: 1;
    background: url(./images/header.png);
}

.header.font {
    font-family: "cabazon",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.content {
    padding: 0 0;
    z-index: 2;
    width: 1030px;
    height: 878px;

    background: url(./images/body.png);
    background-size: cover;
}

.footer{
    height:265px;
    padding: 0 0;
    margin: 0 0;
    z-index: 1;
    background: url(./images/footer.png);
}

.footer.font {
    font-family: "cabazon",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.bodyDiv {
    display: table;
    table-layout: fixed;

    float: top;
    margin: 0 auto;
    height: 100%;
    width: 850px;
    text-align: center;
    overflow: auto;
}

.bodyDiv.font {
    font-family: "cabazon",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.quotesList{
    max-height: 500px;
    overflow: auto;
}

.quoteContainer{
    float: top;
    margin: 0 auto;
    height: auto;
    width: auto;
    overflow: auto;
    text-align: center;
}

.quoteDiv {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5em;
    margin: 0 auto auto 0;
    overflow-x:hidden;
    overflow-y:hidden;
}

.autorDiv {
    float: right;
    padding-right: 40px;
    padding-top: 00px;
    padding-left: 00px;
    padding-bottom: 30px;
    font-size: 0.9em;
    text-align: right;
}

.autorDiv.rus{
    font-family: "lobster", serif;
}

.autorDiv.eng{
    font-family: "cabazon",serif;
    font-size: 25px;
}


.quoteDiv.quoteRus {
    font-family: "lobster", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.quoteDiv.quoteEng {
    font-family: "cabazon",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}


.homeEntry {
    display: table-row;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 0 auto auto 0;
    overflow: auto;
    font-size: 30px;
}

.emphesizedText {
    font-size: 40px;
    font-weight: 550;
    padding-bottom: 30px;
}

.titleBlock {
    display: inline-block;
    text-align: left;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto auto 0;
    overflow: auto;
}

.table {
    table-layout:fixed;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    margin: 0 auto auto 0;
    overflow: auto;
}


.fieldError {
    color:red;
    font-size:15px;
    line-height:18px;
    font-weight:bold;
    font-family:serif;
    overflow: auto;
}

.httpErrorCode{
    text-align: center;
    height: 196px;
    padding-top: 150px;
    font-size: 30px;
    font-weight: 700;
}

.httpErrorDescription{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.linkDiv{
    padding-top: 80px;
    width: 180px;
    height: 50px;

}

.linkDiv.left{
    padding-left: 80px;
    text-align: right;
    float: left;
}

.linkDiv.middle{
    margin: 0 auto;
    text-align: center;
}

.linkDiv.right{
    padding-right: 80px;
    float: right;
}

.pseudolink {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}


